<% if @deck.flashcards.empty? %>
  <p><%= link_to "This deck has no cards. Let's add some!", edit_deck_path %></p>
<% else %>
  <div class="flashcard-container" data-controller="flashcard">
    <% @deck.flashcards.each_with_index do |card, index| %>
      <div class="flashcard" 
           data-flashcard-target="card" 
           data-index="<%= index %>" 
           style="<%= index == 0 ? '' : 'display: none;' %>">
        <div class="front">
          <h2>Question</h2>
          <p><%= card.question %></p>
        </div>
        <div class="back">
          <h2>Answer</h2>
          <p><%= card.answer %></p>
        </div>
        
      </div>
    <% end %>
    <button class="btn btn-primary" data-action="click->flashcard#flip" data-flashcard-target="flipButton">Flip Card</button>
    <button class="btn btn-secondary mt-3" data-action="click->flashcard#nextCard">Next Card</button>
  </div>
<% end %>

<%= link_to "Go back to your decks", decks_path, class: "btn btn-primary" %>

<div data-controller="timer">
  <div data-timer-target="display">Time left: 20 seconds</div>
  <div style="width: 100%; background: #ccc;">
    <div data-timer-target="progressBar" style="width: 100%; height: 20px; background: green;"></div>
  </div>
  <button class="btn btn-primary" data-action="click->timer#start">Start Timer</button>
</div>
